*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  background-image: url(img/sfondo.png);
}
main::after{
  content: "";
  display: block;
  clear: both;
}
/* header */
#container{
  width: 70%;
  margin: auto;
  border: 5px solid #fff;
}
.header-top{
  position: relative;
  height:300px;
  background-image: url(img/bosco.png);
}
.container-logo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.container-logo h1{
  font-size: 50px;
  margin-bottom: 30px;
  border: 5px solid white;
  display: inline-block;
  padding: 5px 10px;
}
/* fine header */
/* colonna sinistra */
.col-left{
  width: 15%;
  float: left;
  margin: 10px;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
}
.col-left h3{
  text-align: center;
  margin-bottom: 15px;
}
ul{
  list-style: none;
}
.col-left p{
  margin-bottom: 15px;
  color: green;
}

/* fine colonna sinistra */
/* colonna centrale */
.col-centro{
  background-color: #fff;
  float:left;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
}
.col-centro h3{
  text-align: center;
  margin-bottom: 10px;
}
/* fine colonna c entrale */
/* colonna destra */
.col-right{
  float: left;
  width:15%;
}
.widget{
  margin: 10px;
  border-radius: 5px;

  padding: 10px;
  background-color: #fff;
}
.widget h3{
  margin-bottom: 10px;
  text-align: center;
}
/* fine colonna destra */
footer{
  height:80px;
  background-color: #A4D2E1;
  margin:10px;
}
